[Desktop Entry]
Type=Application
Name=OpenWave
Comment=The audio mixing matrix for Linux
Exec=openwave
Icon=openwave
Categories=AudioVideo;Audio;Mixer;
Terminal=false
StartupWMClass=com.github.openwave
X-GNOME-UsesNotifications=true
